.vscode/**
.vscode-test/**
.git/**
out/test/**
src/**
test/**
docs/**
node_modules/**
!node_modules/node-sqlite3-wasm/**
node_modules/node-sqlite3-wasm/**/*.ts
**/*.ts
**/*.map
esbuild.js
tsconfig*.json
vitest.config.ts
.gitignore
.editorconfig
**/.eslintrc*
**/tsconfig*.json
